.layout__form {
    min-height: 50%;
    width: 40%;
    margin: 10rem auto;
}

.form__field {
    display: flex;
    flex-direction: column;
}

.form__label {
    margin-top: 1.8rem;
    font-size: 1.8rem;
    color: var(--subtitle-color);
}

.form__input {
    margin-top: 0.5rem;
    padding: 1rem;
    font-size: 1.4rem;
    color: var(--description-color);
    background-color: var(--main-color);
    border: 1px solid gray;
    border-radius: 1.2rem;
    transition: all 300ms inline;
}

.form__input:focus {
    outline: none;
    border: 2px solid gray;
    background-color: rgba(241, 236, 236, 0.4);
    box-shadow: 0 0 1rem rgba(21, 0, 116, 0.4);
}

.form__label--checkbox {
    margin: 0;
}

.form__input--checkbox {
    margin: 1.8rem 0 1.8rem 0;
    display: flex;
    flex-direction: row;
}

.input__checkbox {
    flex: 0 0 2rem;
    margin-left: 1rem;
}

.form__select {
    margin-top: 0.5rem;
    appearance: none;
    padding: 1rem;
    border: 1px solid gray;
    border-radius: 1.2rem;
    transition: all 300ms ease-in-out;
}

.form__select:focus {
    outline: none;
    border: 1px solid gray;
    background-color: rgba(241, 236, 236, 0.4);
    box-shadow: 0 0 1rem rgba(21, 0, 116, 0.4);
}

.form__group-option {
    display: block;
    height: 0;
    transition: height 0.3s ease;
}

.form__select .form__group-option {
    height: auto;
}

.form__button {
    text-align: center;
    justify-content: center;
    align-items: center;
}

.layout__footer {
    text-align: right;
}

@media screen and (max-width: 768px) {
    .layout__form {
        width: 50%;
    }
}

@media screen and (max-width: 487px) {
    .layout__form {
        width: 60%;
    }
}

@media screen and (max-width: 350px) {
    .layout__form {
        width: 100%;
    }
}